
/* ����ҳ���� */
.layout_post>#post {
    /* ���´�����ɫ͸����Ϊ0.3 */
    background: rgba(255,255,255,.3);
}

/* ���б�����������ҳ��Ƭ������ҳ��ҳ��ҳ�ȣ� */
#post, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* ���´�����ɫ͸����Ϊ0.3 */
    background: rgba(255,255,255,.4);
}
#aside-content .card-widget {
    background: rgba(255,255,255,.8);
}

#body-wrap {
    background-color: #c9fffc;
    background-image: linear-gradient(0deg, #c9fffc 0%, #fff0b6 77%);
}

